body {
  background-color: rgb(253, 251, 251);
  font-size: 16px;
  color: rgb(90, 30, 255);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  line-height: 20px;
}

#cabecalho {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: burlywood;
  border: 2px solid rgb(90, 30, 255);
  width: 100%;
  text-align: center;
}

#minha_foto {
  position: relative;
  width: 300px;
  height: auto;
  top: 70px;
  left: 533px;
}

main {
  position: relative;
  display: inline;
  padding: 2px;
  margin: auto;
}

ol {
  top: 60px;
  position: relative;
  border: 2px solid rgb(90, 30, 255);
  width: 600px;
}

ul {
  top: 60px;
  position: relative;
  border: 2px solid rgb(90, 30, 255);
  width: 600px;
}

section {
  position: relative;
  top: 30px;
}

.lado-esquerdo {
  border: 2px solid rgb(90, 30, 255);
  float: left;
  max-width: 800px;
}

.lado-direito {
  border: 2px solid rgb(90, 30, 255);
  float: right;
  max-width: 520px;
}

table {
  position: absolute;
  top: 400px;
  left: 700px;
  width: 600px;
  line-height: 35px;
  border: 2px solid rgb(90, 30, 255);
  padding: 5px;
}

#rodape {
  position: fixed;
  width: 100%;
  left: 0;
  background-color: burlywood;
  bottom: 0;
  clear: both;
  border: 2px solid rgb(90, 30, 255);
  text-align: center;
}
