body {
  background-color: rgb(253, 251, 251);
  font-size: 16px;
  color: rgb(253, 251, 251);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  line-height: 20px;
}

#cabecalho {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: rgb(37, 70, 110, 36);
  border: 2px solid rgb(95, 88, 232, 91);
  width: 100%;
  text-align: center;
  height: 70px;
}

.buttons {
  text-decoration: none;
  display: inline;
  position: justify;
}

.button {
  padding: 7px 50px;
  background-color: rgb(95, 88, 232, 91);
  border-radius: 1.3rem;
}

#minha_foto {
  position: relative;
  width: 290px;
  height: auto;
  left: 845px;
  top: 90px;
  border: 2px solid rgb(37, 36, 92, 36);
}

main {
  position: absolute;
  top: 20px;
  display: inline;
  padding: 2px;
  left: 5px;
}

ol {
  background-color: rgb(37, 70, 110, 36);
  top: 60px;
  position: relative;
  border: 2px solid rgb(95, 88, 232, 91);
  width: 640px;
}

ul {
  background-color: rgb(37, 70, 110, 36);
  top: 50px;
  position: relative;
  border: 2px solid rgb(95, 88, 232, 91);
  width: 640px;
}

section {
  display: flex;
  position: relative;
  top: 280px;
}

.lado-esquerdo {
  background-color: rgb(37, 70, 110, 36);
  border: 2px solid rgb(95, 88, 232, 91);
  float: left;
  max-width: 800px;
  margin-right: 5px;
  height: 115px;
}

.lado-direito {
  background-color: rgb(37, 70, 110, 36);
  border: 2px solid rgb(95, 88, 232, 91);
  float: right;
  max-width: 520px;
}

table {
  background-color: rgb(37, 70, 110, 36);
  position: absolute;
  top: 324px;
  left: 700px;
  width: 640px;
  line-height: 30px;
  border: 2px solid rgb(95, 88, 232, 91);
  padding: 5px;
  text-align: center;
}

caption {
  color: rgb(37, 36, 92, 36);
  font-size: 20px;
}

thead {
  text-decoration: underline;
}

#rodape {
  position: fixed;
  width: 100%;
  left: 0;
  background-color: rgb(37, 70, 110, 36);
  bottom: 0;
  clear: both;
  border: 2px solid rgb(95, 88, 232, 91);
  text-align: center;
}

a {  color: rgb(253, 251, 251);
}
